---
import type { GetStaticPaths } from "astro";
export const prerender = true

import { getCollection, getEntryBySlug } from 'astro:content'
import DefaultPageLayout from '$/layouts/default.astro'
import PostPreviewList from '$/components/PostPreviewList.astro'
import { PAGE_SIZE } from '$/config';
import { languages, styles } from '$/i18n/ui';

const title = 'Home'
const description = 'Astro-Ink is a crisp, minimal, personal blog theme for Astro'

export async function getStaticPaths() {
    const allLanguages = Object.keys(languages)

    async function asyncFlatMap(arr, asyncFn) {
        return Promise.all(flatten(await asyncMap(arr, asyncFn)))
    }

    function asyncMap(arr, asyncFn) {
        return Promise.all(arr.map(asyncFn))
    }
    function flatMap(arr, fn) {
        return flatten(arr.map(fn))
    }

    function flatten(arr) {
        return [].concat(...arr)
    }

    return Promise.all(await asyncFlatMap( allLanguages, async (lang) => {
        const posts = await getCollection(`${lang}`)
        const paths = await asyncFlatMap(posts, async (post) => {
            return { params: { lang, slug: post.slug || undefined }, props: { posts }}
        })
        
        return paths;
    }))
}

const { posts } = Astro.props;
const { lang, slug } = Astro.params;
---
<!-- <section>
    {language}
</section> -->
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <PostPreviewList posts={posts} />
    <div class="page__actions">
        <a class="action__go-to-blog" href={`${lang}/blog`} title="All Posts">All Posts &rarr;</a>
    </div>
</DefaultPageLayout>

<style>
    .page__actions {
        @apply flex justify-center md:justify-end py-6
    }
    .action__go-to-blog {
        @apply text-base uppercase text-gray-500 dark:text-gray-400 hover:underline
    }
</style>
